html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(16, 126, 89, 0.884);
}

.food {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40em;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.food h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.food .user-box {
    position: relative;
}

.food .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.food .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.food .user-box input:focus~label,
.food .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.food form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.food a:hover {
    background: black;
    color: #fff;
    border-radius: 5px;
    /*box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;*/
}

.food a span {
    position: absolute;
    display: block;
}

.user,
label {
    color: white;
    padding: 10px 0;
    font-size: 16px;
}

#food {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    #signup-div {
        width: 75%;
    }
}


/* @media only screen and (max-width: 300px) {
  #signup-div {
      width: 100%;
  }
} */

@media only screen and (max-width:350px) {
    #signup-div {
        width: 100%;
    }
}