* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#triangle {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: 70vh;
    clip-path: polygon(100% 0%, 100% 87%, -45% 0%);
}

body {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9dcdc;
}

#food-section {
    height: 75%;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    width: 75%;
    border: 2px solid #d9dcdc;
    border-radius: 10px;
}

#form-section {
    margin-top: 3rem;
    /* border: 2px solid red; testing purpose */
}

.form>div {
    margin: 15px;
}

#food-type,
#btn-section {
    margin: 0;
    padding: 15px;
    /* border: 2px solid blue; /*testing purpose*/
    width: 100%;
    display: flex;
    justify-content: center;
}

#food-type label {
    margin: 5px;
}

#note {
    color: rgb(95, 84, 84);
    font-size: 0.8em;
}

#btn-section {}

.btn {
    text-align: center;
    border: 2px solid #799aa8;
    border-radius: 5px;
    padding: 10px 28px;
    color: white;
    /* display: block; */
    /* margin: auto; */
    background: #76919c;
}