* {
  margin: 0;
  padding: 0;
}

body {
  /* margin-top: 20px; */
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  background-color: #d9dcdc;
}
#triangle {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 70vh;
  clip-path: polygon(100% 0%, 100% 87%, -45% 0%);
  z-index: -1;
}

.request-div {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 75%;
  /* max-height: 20vh; */
  background-color: white;
  border-radius: 7px;
  margin: 1.5vh;
  align-items: center;
  /* justify-content: space-between; */
}

.request-div:hover {
  box-shadow: 100px, 150px, 7px, rgb(118, 195, 247);
  transition: 5s;
}

.description {
  width: 70%;
  /* height: 100%; */
  text-decoration: none;
  overflow: hidden;
  padding-left: 2vw;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}
#hotel {
  font-size: 1.5em;
  width: 100%;
  /* border: 2px solid red; */
}
#contact,
#food-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.acceptbtn-div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accept-btn {
  border-radius: 7px;
  background-color: #031d66;
  color: rgb(255, 254, 254);
  padding: 3%;
  margin: 1%;
  /* font-size: larger; */
}

#accept-btn:hover {
  background: white;
  color: green;
  /* border-radius: 10px; */
}
